In [1]:
import pandas as pd
import glob
import os
import re

In [2]:
def find_str(pattern, text):
    match = re.search(pattern, text)
    if match:
        val = match.group(1)
        return val
    else:
        return None

In [3]:
cwd = os.getcwd()
directory = cwd + '/datasets/old_data/hastaverileri/'

csv_files = glob.glob(os.path.join(directory, '**', '*.csv'), recursive=True)
csv_files = sorted(csv_files, key=lambda x: int(x.split('/')[-1].split('.')[0]))

In [4]:
csv_files

['/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/1.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/2.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/3.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/4.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/5.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/6.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/7.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/8.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/9.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/10.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/11.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/12.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/13.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/14.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/15.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/16.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/17.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/18.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/19.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/20.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/21.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/22.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/23.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/24.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/25.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/26.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/27.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/28.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/29.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/30.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/31.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/32.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/33.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/34.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/35.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/36.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/37.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/38.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/39.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/40.csv',
 '/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/hastaverileri/41.csv']

In [23]:
dataframes = []
for file in csv_files:
    patient = int(re.search(r'/(\d+)\.csv$', file).group(1))
    df = pd.read_csv(file)
    df['patient'] = patient
    dataframes.append(df)

combined_df = pd.concat(dataframes, ignore_index=True)
combined_df['datetime'] = pd.to_datetime(combined_df['Date'] + ' ' + combined_df['Time'], format='%d.%m.%Y %H:%M:%S')
combined_df = combined_df.drop(columns=['Date', 'Time'])

In [24]:
combined_df.dtypes

Millis               int64
ECG                float64
IR                 float64
RED                float64
patient              int64
datetime    datetime64[ns]
dtype: object

In [25]:
combined_df

        Millis    ECG       IR      RED  patient            datetime
0          892  226.0  28556.0  28966.0        1 2023-10-18 09:38:39
1          893  226.0  28554.0  28959.0        1 2023-10-18 09:38:39
2          893  226.0  28556.0  28960.0        1 2023-10-18 09:38:39
3          893  226.0  28552.0  28959.0        1 2023-10-18 09:38:39
4          894  226.0  28551.0  28954.0        1 2023-10-18 09:38:39
...        ...    ...      ...      ...      ...                 ...
547272     157  219.0  26252.0  29845.0       41 2023-10-27 15:56:43
547273     168  219.0  26254.0  29843.0       41 2023-10-27 15:56:43
547274     170  219.0  26252.0  29844.0       41 2023-10-27 15:56:43
547275     172  219.0  26250.0  29843.0       41 2023-10-27 15:56:43
547276     174  219.0  26253.0  29843.0       41 2023-10-27 15:56:43

[547277 rows x 6 columns]

In [7]:
combined_df.patient.value_counts().describe()

count       41.000000
mean     13348.219512
std       4383.715265
min       4061.000000
25%      10385.000000
50%      13014.000000
75%      15941.000000
max      22088.000000
Name: count, dtype: float64

In [8]:
combined_df.to_csv('datasets/timeseriesdata.csv')