In [1]:
from pypdf import PdfReader 
import glob
import os
import pandas as pd
import re
import numpy as np 
import tabula

In [2]:
cwd = os.getcwd()
directory = cwd + '/datasets/old_data/lab/'
pdf_files = glob.glob(os.path.join(directory, '**', '*.pdf'), recursive=True)

In [3]:
df_list = []
for pdf in pdf_files:
    pdf_list = tabula.read_pdf(pdf, pages='all')
    pages = []
    for page in pdf_list:
        page = pd.concat([pd.DataFrame([page.columns], columns=page.columns), page], ignore_index=True)
        page.columns = range(len(page.columns))
        pages.append(page)
    combined_df = pd.concat(pages, ignore_index=True, sort=False)
    for col in combined_df.columns:
        combined_df[col] = combined_df[col].map(lambda x: np.nan if isinstance(x, str) and 'Unnamed: ' in x else x)
    combined_df["patient"] = int(re.search(r'/(\d+)\.pdf$', pdf).group(1))
    df_list.append(combined_df)

df = pd.concat(df_list, ignore_index=True, sort=False)

In [4]:
col_to_move = 'patient'
columns = [col_to_move] + [col for col in df.columns if col != col_to_move]
df = df[columns]

In [5]:
df

,patient,0,1,2,3,4,5,6,7,8,9,10
0,3,"Hasta Adı, Soyadı",: VEZIR YASAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,TC Kimlik,: 31*******92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"Doğum Tarihi, Cinsiyeti",: 15.05.1963 - Erkek / 60 Yıl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Protokol / Dosya / İşlem No:,: P2022238881 / Dosya / 22119247 Kurum:,NaN,SGK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,Rapor Numarası,: 388466.1100.13303183.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3788,30,NaN,NaN,NaN,NaN,NaN,Onay Tar : 24.10.2023 08:29:13,NaN,NaN,NaN,NaN,NaN
3789,30,Ünite: Hormon,Barkod Trh : 23.10.2023 14:49:34,NaN,Num. Kabul : 23.10.2023 15:39:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3790,30,NaN,NaN,NaN,Referans Aralığı,/,ESKİ SONUÇLAR,NaN,NaN,NaN,NaN,NaN
3791,30,TETKİK ADI,Durum Sonuç,NaN,Birim,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3792,30,NaN,NaN,NaN,Karar Sınırı,NaN,1.Sonuç - 2.Sonuç,NaN,NaN,NaN,NaN,NaN

In [6]:
for col in df.columns:
    print("--------------- " , col , " -----------------------")
    print(df[col].unique())

---------------  patient  -----------------------
[ 3 23 25 27 22 19 14 13 41 31 29  8 39 40 10 17  2  1 34 21 12 38 37 26
  5  7 32 15 28 16 24 33 20  9 11 18 35  4 36  6 30]
---------------  0  -----------------------
['Hasta Adı, Soyadı' 'TC Kimlik' 'Doğum Tarihi, Cinsiyeti'
 'Protokol / Dosya / İşlem No:' 'Rapor Numarası' nan
 'KVC LAB Laboratuvarı' 'Tetkiki İsteyen:'
 'İhtisas Kardiyoloji-Uz.Dr.FATİH' 'KÖKSAL POL. (KVC Binası)'
 'Ünite: Biyokimya' 'TETKİK ADI' 'LDL K' 'VLDL K' 'AMİLAZ' 'GFR (MDRD)'
 'KALSİYUM (Ca)' 'BİLİRÜBİN-TOTAL' 'BİLİRÜBİN-DİREKT' 'BİLİRÜBİN-İNDİREKT'
 'AKŞ GLUKOZ' 'KREATİNİN (CREA)' 'TRİGLİSERİD' 'T.KOLESTEROL' 'SGPT (ALT)'
 'SGOT(AST)' 'SODYUM' 'POTASYUM (K)' 'KLOR (Cl)' 'Serum İndeksi (Hemoliz)'
 'Ünite: Hematoloji' 'WBC' 'RBC' 'HGB' 'HCT' 'PLT' 'MCV' 'MCH' 'MCHC'
 'RDW-CV' 'RDW-SD' 'MPV' 'PCT' 'PDW' 'NE%' 'LYM%' 'MONO%' 'EOS%' 'BASO%'
 'Free T3' 'Free T4' 'TSH' 'FOLAT' 'ViİTAMİN B12' 'SODYUM (Na)'
 'Serum İndeksi (İkter)' 'NEU#' 'LYM#' 'MONO#' 'EOS#' 'BASO#' 'KALSİYUM'
 'LDL-K (KİT)' 'Ünite: Hormon' 'Ünite: HbA1C' 'HDL-K'
 'Serum İndeksi (Lipemi)' 'ANA BİNA LAB Laboratuvarı' 'BUN' 'VLDL'
 'ÜRİK ASİT' 'KREATİNİN' 'POTASYUM' 'Hasta Adı, Soyadı : NURAY KABA'
 'TC Kimlik : 32*******18'
 'Doğum Tarihi, Cinsiyeti : 4.06.1982 - Kadın / 41 Yıl'
 'Protokol / Dosya / İşlem No: : P2013167794 / Dosya / 22189782'
 'Rapor Numarası : 388466.1100.13303343.2023'
 'TIBBİ LABORATUVAR TETKİK SONUÇ RAPORU(123)'
 'KARDİYOLOJİ Uzm. Dr. MAHMUT' 'KAPSIZ POL. (KVC Binası) İstem Trh:'
 'Ünite: Biyokimya Barkod Trh :' 'TETKİK ADI Durum'
 'Ünite: Hematoloji Barkod Trh :' 'TETKİK']
---------------  1  -----------------------
[': VEZIR YASAR' ': 31*******92' ': 15.05.1963 - Erkek / 60 Yıl'
 ': P2022238881 / Dosya / 22119247 Kurum:' ': 388466.1100.13303183.2023'
 'Lab.Ruhsat No:431/1' 'TIBBİ LABORATUVAR TETKİK SONUÇ RAPORU(123)' nan
 'İstem Trh: 18.10.2023 09:48:00 Num. Alma :'
 'Barkod Trh : 18.10.2023 09:49:08 Num. Kabul :' 'Referans'
 'Durum Sonuç Birim' 'Karar' '(Na)' ': P2022238881 / Dosya / 22119247'
 'İstem Trh: 18.10.2023 09:48:00' 'Barkod Trh : 18.10.2023 09:49:08'
 'Durum Sonuç' '6,11' '5,37' '15,6' '46,5' '191' '86,6' '29,1' '33,6'
 '12,8' '40,3' '10,3' '0,2' '16,4' '59,6' '33,7' '5,6' '0,7' '0,4' '3,41'
 '1,37' '1,03' '7,4' '407' ': SARAYNAZ GOKBASI' ': 11*******54'
 ': 2.01.1948 - Kadın / 75 Yıl' ': P2009334527 / Dosya / 22145407 Kurum:'
 ': 388466.1100.13303288.2023'
 'İstem Trh: 20.10.2023 14:36:00 Num. Alma :'
 'Barkod Trh : 20.10.2023 14:37:17 Num. Kabul :' '19' '140' '4,2' '100'
 '5' '0,9' ': P2009334527 / Dosya / 22145407'
 'İstem Trh: 20.10.2023 14:36:00' 'Barkod Trh : 20.10.2023 14:37:17'
 '7,72' '4,34' '[D] 11,9' '36' '239' '82,9' '27,4' '33' '13,3' '41' '10'
 '0,24' '16' '68,6' '22,8' '7,3' '1' '0,3' '5,3' '1,76' '0,56' '0,08'
 '0,02' '2,61' '0,91' '3,69' '9,4' '290' ': HÜSNİYE OLAM' ': 28*******96'
 ': 4.04.1961 - Kadın / 62 Yıl' ': P2009444601 / Dosya / 22145818 Kurum:'
 ': 388466.1100.13303296.2023'
 'İstem Trh: 20.10.2023 15:08:00 Num. Alma :'
 'Barkod Trh : 20.10.2023 15:09:32 Num. Kabul :' '(Ca)'
 ': P2009444601 / Dosya / 22145818' 'İstem Trh: 20.10.2023 15:08:00'
 'Barkod Trh : 20.10.2023 15:09:32' '[Y] 11,01' '4,7' '[D] 10,1'
 '[D] 33,1' '[Y] 561' '[D] 70,4' '[D] 21,4' '[D] 30,4' '[Y] 17,7' '46,6'
 '9,6' '[Y] 0,54' '15,8' '69,1' '24,1' '5,1' '1,3' '7,6' '2,66' '0,57'
 '0,14' '0,04' '[D] 0,25' '1,12' '2,9' '195' ': İLHAMİ YEŞİL'
 ': 36*******92' ': 16.03.1967 - Erkek / 56 Yıl'
 ': P2009392364 / Dosya / 22166289 Kurum:' ': 388466.1100.13303306.2023'
 'İstem Trh: 23.10.2023 14:42:00 Num. Alma :'
 'Barkod Trh : 23.10.2023 14:44:41 Num. Kabul :' 'İstem Trh:'
 'Barkod Trh :' 'Durum' '[D]' '[Y]' ': P2009392364 / Dosya / 22166289'
 'İstem Trh: 23.10.2023 14:43:00' 'Barkod Trh : 23.10.2023 14:44:41'
 ': HANIFE CICEK' ': 20*******32' ': 1.01.1959 - Kadın / 64 Yıl'
 ': P2010223331 / Dosya / 22145213 Kurum:' ': 388466.1100.13303286.2023'
 'İstem Trh: 20.10.2023 14:19:00 Num. Alma :'
 'Barkod Trh : 20.10.2023 14:20:57 Num. Kabul :'
 ': P2010223331 / Dosya / 22145213' 'İstem Trh: 20.10.2023 14:19:00'
 'Barkod Trh : 20.10.2023 14:20:57' 'TETKİK'
 'İstem Trh: 20.10.2023 14:20:00' ': MURAT KARAYEL' ': 43*******42'
 ': 30.06.1976 - Erkek / 47 Yıl' ': P2013115566 / Dosya / 22145081 Kurum:'
 ': 388466.1100.13303248.2023'
 'İstem Trh: 20.10.2023 14:09:00 Num. Alma :'
 'Barkod Trh : 20.10.2023 14:10:50 Num. Kabul :'
 ': P2013115566 / Dosya / 22145081' 'İstem Trh: 20.10.2023 14:09:00'
 'Barkod Trh : 20.10.2023 14:10:50' '6,78' '5,02' '14,9' '44,6' '254'
 '88,8' '29,7' '33,4' '13,2' '43' '10,1' '0,26' '57,6' '32,3' '8,1' '1,8'
 '3,91' '2,19' '0,55' '0,12' '0,01' '3,34' '0,51' '4,4' '264'
 ': YUSUF TURHAN' ': 27*******82' ': 11.11.1957 - Erkek / 65 Yıl'
 ': P2010268947 / Dosya / 22135183 Kurum:' ': 388466.1100.13303235.2023'
 'İstem Trh: 19.10.2023 14:55:00 Num. Alma :'
 'Barkod Trh : 19.10.2023 14:57:38 Num. Kabul :'
 ': P2010268947 / Dosya / 22135183' 'İstem Trh: 19.10.2023 14:56:00'
 'Barkod Trh : 19.10.2023 14:57:38' '7,06' '4,87' '45' '305' '92,5' '30,6'
 '33,1' '13,6' '48,5' '11,2' '0,34' '16,2' '63' '26,4' '6,8' '3,2' '0,6'
 '4,45' '1,86' '0,48' '0,23' '0,5' '3,21' '334' ': DURMUS OZTÜRK'
 ': 50*******50' ': 20.10.1972 - Erkek / 51 Yıl'
 ': P2009166562 / Dosya / 22135113 Kurum:' ': 388466.1100.13303218.2023'
 'İstem Trh: 19.10.2023 14:52:00 Num. Alma :'
 'Barkod Trh : 19.10.2023 14:52:39 Num. Kabul :'
 ': P2009166562 / Dosya / 22135113' 'İstem Trh: 19.10.2023 14:52:00'
 'Barkod Trh : 19.10.2023 14:52:39' '5,32' '4,56' '39,9' '226' '87,4' '34'
 '45,6' '8,9' '30,3' '3,35' '1,61' '2,92' '0,88' '2,65' '4,5' '[D] 166'
 ': HACER BİNALİOĞLU' ': 35*******62' ': 21.03.1960 - Kadın / 63 Yıl'
 ': P2010361726 / Dosya / 22210104 Kurum:' ': 388466.1100.13303099.2023'
 'İstem Trh: 27.10.2023 14:57:00 Num. Alma :'
 'Barkod Trh : 27.10.2023 14:58:41 Num. Kabul :' '[Y] 202,1 mg/dL'
 '41,8 mg/dl' '70,15 ml/dk' '0,36 mg/dl' '99 mg/dL' '11 mg/dl'
 '0,88 mg/dl' '[Y] 209 mg/dl' '[Y] 289 mg/dL' '45,1 mg/dl' '18 U/L'
 '19 U/L' '50 U/L' '0,53 mg/dL' '0,17 mg/dl' '[Y] 10,4 mg/dl'
 ': P2010361726 / Dosya / 22210104' 'İstem Trh: 27.10.2023 14:57:00'
 'Barkod Trh : 27.10.2023 14:58:41' '9,5' '4,73' '13,4' '40,7' '265'
 '85,9' '28,3' '32,9' '14,1' '45,2' '11,6' '0,31' '16,3' '73,2' '19,4'
 '[D] 3,5' '3,7' '6,95' '1,84' '0,33' '0,36' '4,32' '7,8' '2,39' '0,82'
 '335' ': IDRIS SERT' ': 13*******58' ': 25.10.1967 - Erkek / 56 Yıl'
 ': P2009070964 / Dosya / 22188871 Kurum:' ': 388466.1100.13303329.2023'
 'İstem Trh: 25.10.2023 14:58:00 Num. Alma :'
 'Barkod Trh : 25.10.2023 14:59:26 Num. Kabul :' '51' '106,5' '9,7' '0,19'
 '0,41' '86' '0,72' '17' 16 'K' ': P2009070964 / Dosya / 22188871'
 'İstem Trh: 25.10.2023 14:58:00' 'Barkod Trh : 25.10.2023 14:59:26'
 ': NÜSRET GOKCE' ': 15*******38' ': 3.12.1961 - Erkek / 61 Yıl'
 ': P2016119682 / Dosya / 22164852 Kurum:' ': 388466.1100.13303319.2023'
 'İstem Trh: 23.10.2023 13:31:00 Num. Alma :'
 'Barkod Trh : 23.10.2023 13:32:13 Num. Kabul :' '119 mg/dL' '42,6 mg/dl'
 '91,92 ml/dk' '10,1 mg/dl' '0,32 mg/dl' '[Y] 115 mg/dL' '22 mg/dl'
 '0,91 mg/dl' '[Y] 213 mg/dl' '194 mg/dL' '32,4 mg/dl' '25 U/L' '22 U/L'
 '68 U/L' ': P2016119682 / Dosya / 22164852'
 'TIBBİ LABORATUVAR TETKİK SONUÇ RAPORU(hemotoloji)'
 'İstem Trh: 23.10.2023 13:31:00' 'Barkod Trh : 23.10.2023 13:32:13'
 ': LÜTFIYE ADALI' ': 18*******12' ': 22.11.1965 - Kadın / 57 Yıl'
 ': P2016213502 / Dosya / 22124472 Kurum:' ': 388466.1100.13303199.2023'
 'İstem Trh: 18.10.2023 15:09:00 Num. Alma :'
 'Barkod Trh : 18.10.2023 15:09:41 Num. Kabul :'
 ': P2016213502 / Dosya / 22124472' 'İstem Trh: 18.10.2023 15:09:00'
 'Barkod Trh : 18.10.2023 15:09:41' ': ERDOGAN YILMAZ' ': 30*******56'
 ': P2010027126 / Dosya / 22209452 Kurum:' ': 388466.1100.13303362.2023'
 'İstem Trh: 27.10.2023 14:08:00 Num. Alma :'
 'Barkod Trh : 27.10.2023 14:09:33 Num. Kabul :'
 'İstem Trh: 27.10.2023 14:09:00 Num. Alma :' ': AYSE YILDIRIM'
 ': 23*******94' ': 1.01.1965 - Kadın / 58 Yıl'
 ': P2009345536 / Dosya / 22209615 Kurum:' ': 388466.1100.13303366.2023'
 'İstem Trh: 27.10.2023 14:17:00 Num. Alma :'
 'Barkod Trh : 27.10.2023 14:18:22 Num. Kabul :'
 ': P2009345536 / Dosya / 22209615' 'İstem Trh: 27.10.2023 14:17:00'
 'Barkod Trh : 27.10.2023 14:18:22' '5,71' '4,47' '39,4' '250' '88,1'
 '28,7' '32,6' '44,3' '11,3' '0,28' '50,4' '[Y] 43,1' '1,5' '2,88' '2,46'
 '[D] 0,26' '0,03' '1,47' ': KADIR YALCIN' ': 33*******80'
 ': 1.06.1958 - Erkek / 65 Yıl' ': P2023131335 / Dosya / 22131109 Kurum:'
 ': 388466.1100.13303207.2023'
 'İstem Trh: 19.10.2023 10:19:00 Num. Alma :'
 'Barkod Trh : 19.10.2023 10:21:41 Num. Kabul :' '9,93' '4,99' '44,4'
 '[Y] 508' '88,9' '28,2' '[D] 31,7' '[Y] 15,4' '50,1' '0,37' '15,5'
 '[Y] 79,8' '[D] 11,3' '6,9' '1,7' '7,92' '0,69' '0,17'
 ': SAHIDE NIYAZOGLU' ': 17*******56' ': 12.07.1964 - Kadın / 59 Yıl'
 ': P2014262020 / Dosya / 22140792 Kurum:' ': 388466.1100.13303239.2023'
 'İstem Trh: 20.10.2023 09:32:00 Num. Alma :'
 'Barkod Trh : 20.10.2023 09:34:57 Num. Kabul :' '[Y] 21 mg/dl'
 '46,3 mg/dl' '[Y] 188,5 mg/dL' '38,2 mg/dl' '70 U/L' '103 ml/dk'
 '0,42 mg/dL' '0,12 mg/dl' '0,3 mg/dl' '103 mg/dL' '[D] 0,55 mg/dl'
 '[Y] 191 mg/dl' '[Y] 273 mg/dL' '20 U/L' '23 U/L' '9,9 mg/dl'
 '140 mmol/L' '4,3 mmol/L' '101 mmol/L' '2 mg/dL' '0,9 mg/dL'
 ': P2014262020 / Dosya / 22140792' 'İstem Trh: 20.10.2023 09:34:00'
 'Barkod Trh : 20.10.2023 09:34:57' 'İstem Trh: 20.10.2023 09:33:00'
 ': MÜNÜR CAPKINLAR' ': 34*******86' ': 25.12.1961 - Erkek / 61 Yıl'
 ': P2010173740 / Dosya / 22118350 Kurum:' ': 388466.1100.13303179.2023'
 'İstem Trh: 18.10.2023 09:15:00 Num. Alma :'
 'Barkod Trh : 18.10.2023 09:15:42 Num. Kabul :'
 ': P2010173740 / Dosya / 22118350' 'İstem Trh: 18.10.2023 09:15:00'
 'Barkod Trh : 18.10.2023 09:15:42' '5,73' '15,4' '91,5' '30,8' '44,1'
 '0,27' '16,1' '[D] 42,8' '41,4' '[Y] 10,6' '2,45' '2,37' '[Y] 0,61'
 '3,23' '0,97' '5,7' '252' ': NURCAN TANTUR' ': 63*******52'
 ': 20.06.1970 - Kadın / 53 Yıl' ': P2009001287 / Dosya / 22118267 Kurum:'
 ': 388466.1100.13303175.2023'
 'İstem Trh: 18.10.2023 09:08:00 Num. Alma :'
 'Barkod Trh : 18.10.2023 09:12:30 Num. Kabul :'
 ': P2009001287 / Dosya / 22118267' 'İstem Trh: 18.10.2023 09:09:00'
 'Barkod Trh : 18.10.2023 09:12:30' 'İstem Trh: 18.10.2023 09:11:00'
 ': SÜHEYLA OKUMUS' ': 39*******18' ': 28.02.1965 - Kadın / 58 Yıl'
 ': P2009416786 / Dosya / 22189725 Kurum:' ': 388466.1100.13303338.2023'
 'İstem Trh: 25.10.2023 16:01:00 Num. Alma :'
 'Barkod Trh : 25.10.2023 16:05:29 Num. Kabul :'
 ': P2009416786 / Dosya / 22189725' 'İstem Trh: 25.10.2023 16:01:00'
 'Barkod Trh : 25.10.2023 16:05:29' '[Y] 14,32' '5,01' '[Y] 46,3' '346'
 '92,3' '30,7' '33,3' '14' '48,3' '9' '15,7' '72,2' '22' '0,1' '[Y] 10,34'
 '[Y] 3,15' '0,73' '0,09' '3,16' '1,1' '4' '260' ': AZIZE OPUZ'
 ': 11*******20' ': 1.08.1952 - Kadın / 71 Yıl'
 ': P2009483173 / Dosya / 22144831 Kurum:' ': 388466.1100.13303281.2023'
 'İstem Trh: 20.10.2023 13:50:00 Num. Alma :'
 'Barkod Trh : 20.10.2023 13:52:31 Num. Kabul :' 'TETKİK ADI' '148' '13'
 '141' '3,9' '102' '2' '11' ': P2009483173 / Dosya / 22144831'
 'İstem Trh: 20.10.2023 13:51:00' 'Barkod Trh : 20.10.2023 13:52:31'
 ': EMINE ARINC' ': 44*******00' ': 7.05.1949 - Kadın / 74 Yıl'
 ': P2006076436 / Dosya / 22135005 Kurum:' ': 388466.1100.13303215.2023'
 'İstem Trh: 19.10.2023 14:41:00 Num. Alma :'
 'Barkod Trh : 19.10.2023 14:45:37 Num. Kabul :'
 ': P2006076436 / Dosya / 22135005' 'İstem Trh: 19.10.2023 14:42:00'
 'Barkod Trh : 19.10.2023 14:45:37' '7,53' '4,61' '12,1' '39,1' '351'
 '84,8' '[D] 26,3' '[D] 31' '[Y] 15,2' '46,9' '10,6' '15,9' '53,1'
 '[Y] 6,5' '3,99' '2,28' '0,71' '0,49' '0,06' '4,79' '2,62' '0,79' '10,4'
 '[D] 106' ': GÜLSIMET TURHANER' ': 10*******32'
 ': 1.01.1963 - Kadın / 60 Yıl' ': P2009563351 / Dosya / 22199671 Kurum:'
 ': 388466.1100.13303357.2023'
 'İstem Trh: 26.10.2023 14:36:00 Num. Alma :'
 'Barkod Trh : 26.10.2023 14:37:35 Num. Kabul :' '79,8 mg/dL'
 '[Y] 69,8 mg/dl' '99,39 ml/dk' '9,1 mg/dl' '102 mg/dL' '15 mg/dl'
 '0,6 mg/dl' '[Y] 349 mg/dl' '179 mg/dL' '[D] 29,4 mg/dl' '24 U/L'
 '28 U/L' '[Y] 104 U/L' '0,43 mg/dL' '0,11 mg/dl'
 ': P2009563351 / Dosya / 22199671' 'İstem Trh: 26.10.2023 14:36:00'
 'Barkod Trh : 26.10.2023 14:37:35' 'İstem Trh: 26.10.2023 14:37:00'
 ': NAZMIYE MÜMINOGLU' ': 60*******06' ': 1.12.1954 - Kadın / 68 Yıl'
 ': P2022030986 / Dosya / 22189884 Kurum:' ': 388466.1100.13303352.2023'
 'İstem Trh: 25.10.2023 16:28:00 Num. Alma :'
 'Barkod Trh : 25.10.2023 16:32:32 Num. Kabul :' '8 mg/dl' '64,9 mg/dl'
 '116,1 mg/dL' '16 mg/dl' '46 U/L' '87,18 ml/dk' '0,23 mg/dL'
 '[Y] 162 mg/dL' '0,71 mg/dl' '80 mg/dl'
 ': P2022030986 / Dosya / 22189884' 'İstem Trh: 25.10.2023 16:28:00'
 'Barkod Trh : 25.10.2023 16:32:32' '6,35' '4,24' '[D] 11,8' '341' '85'
 '27,7' '14,2' '44,9' '9,8' '53,6' '40,8' '0' '2,59' '0,35' '2,68' '1,22'
 '[D] 2,3' '274' ': TÜLAY BAKIR' ': 10*******70'
 ': 8.06.1975 - Kadın / 48 Yıl' ': P2011043793 / Dosya / 22159086 Kurum:'
 ': 388466.1100.13303301.2023'
 'İstem Trh: 23.10.2023 08:48:00 Num. Alma :'
 'Barkod Trh : 23.10.2023 08:49:18 Num. Kabul :'
 ': P2011043793 / Dosya / 22159086' 'İstem Trh: 23.10.2023 08:48:00'
 'Barkod Trh : 23.10.2023 08:49:18' ': OGUZHAN GÜLOGULLARI'
 ': 20*******76' ': 30.12.1998 - Erkek / 24 Yıl'
 ': P2010287204 / Dosya / 22123821 Kurum:' ': 388466.1100.13303189.2023'
 'İstem Trh: 18.10.2023 14:26:00 Num. Alma :'
 'Barkod Trh : 18.10.2023 14:26:46 Num. Kabul :'
 ': P2010287204 / Dosya / 22123821' 'İstem Trh: 18.10.2023 14:26:00'
 'Barkod Trh : 18.10.2023 14:26:46' '6,22' '4,68' '14,7' '[Y] 95,4' '31,3'
 '11,7' '40,9' '10,8' '0,21' '16,5' '58,7' '8,3' '3,65' '1,91' '0,52'
 '0,11' '3,18' '0,94' '2,84' '4,1' '251' ': SEVDA UYSAL' ': 14*******10'
 ': 28.04.1970 - Kadın / 53 Yıl' ': P2011185275 / Dosya / 22124069 Kurum:'
 ': 388466.1100.13303195.2023'
 'İstem Trh: 18.10.2023 14:42:00 Num. Alma :'
 'Barkod Trh : 18.10.2023 14:43:51 Num. Kabul :' '0,61' '137' '3,8' '98'
 '1,4' 'TIBBİ LABORATUVAR TETKİK SONUÇ RAPORU(KVC)' ': IZZET SOYLU'
 ': 36*******52' ': 25.09.1968 - Erkek / 55 Yıl'
 ': P2017452619 / Dosya / 22189561 Kurum:' ': 388466.1100.13303332.2023'
 'İstem Trh: 25.10.2023 15:43:00 Num. Alma :'
 'Barkod Trh : 25.10.2023 15:49:47 Num. Kabul :' '(CREA)' '21' '4,3' '103'
 '3' ': P2017452619 / Dosya / 22189561' 'İstem Trh: 25.10.2023 15:43:00'
 'Barkod Trh : 25.10.2023 15:49:47' '86,8' '29,3' '44,2' '10,2' '51,9'
 '36,6' '7,5' '3,4' '2,82' '1,99' '5,43' '5,07' '44' '183' '1,08' '3,22'
 '306' ': EROL ALTUNKAYA' ': 21*******88' ': 28.06.1973 - Erkek / 50 Yıl'
 ': P2009122381 / Dosya / 22135243 Kurum:' ': 388466.1100.13303225.2023'
 'İstem Trh: 19.10.2023 15:00:00 Num. Alma :'
 'Barkod Trh : 19.10.2023 15:02:39 Num. Kabul :'
 ': P2009122381 / Dosya / 22135243' 'İstem Trh: 19.10.2023 15:01:00'
 'Barkod Trh : 19.10.2023 15:02:39' '[Y] 13,21' '5,04' '321' '88,5' '29,6'
 '14,5' '49,6' '71,7' '21,3' '6,2' '[Y] 9,46' '[D] 1,52' '[D] 174' '1,13'
 '6,6' ': HACI ERDAL SARIOGLU' ': 25*******90'
 ': 18.03.1965 - Erkek / 58 Yıl' ': P2017073268 / Dosya / 22162823 Kurum:'
 ': 388466.1100.13303315.2023'
 'İstem Trh: 23.10.2023 11:09:00 Num. Alma :'
 'Barkod Trh : 23.10.2023 11:09:53 Num. Kabul :'
 ': P2017073268 / Dosya / 22162823' 'İstem Trh: 23.10.2023 11:09:00'
 'Barkod Trh : 23.10.2023 11:09:53' ': LEYLA YAGMUR' ': 26*******54'
 ': 27.04.1961 - Kadın / 62 Yıl' ': P2006549471 / Dosya / 22135297 Kurum:'
 ': 388466.1100.13303227.2023'
 'İstem Trh: 19.10.2023 15:04:00 Num. Alma :'
 'Barkod Trh : 19.10.2023 15:05:38 Num. Kabul :' '(K)'
 ': P2006549471 / Dosya / 22135297' 'İstem Trh: 19.10.2023 15:04:00'
 'Barkod Trh : 19.10.2023 15:05:38' ': NEZAHAT YILDIRIM' ': 27*******80'
 ': 5.08.1956 - Kadın / 67 Yıl' ': P2009480173 / Dosya / 22145545 Kurum:'
 ': 388466.1100.13303294.2023'
 'İstem Trh: 20.10.2023 14:45:00 Num. Alma :'
 'Barkod Trh : 20.10.2023 14:46:27 Num. Kabul :' '18 mg/dl' '43,8 mg/dl'
 '113 mg/dL' '15' '138' '4,8' '7' ': P2009480173 / Dosya / 22145545'
 'İstem Trh: 20.10.2023 14:45:00' 'Barkod Trh : 20.10.2023 14:46:27'
 '7,63' '4,41' '38,3' '291' '87' '29,5' '33,8' '13,7' '9,3' '64,8' '28,6'
 '1,6' '4,95' '2,18' '0,05' '2,26' '2,67' '193' ': HATUN DOKMUS'
 ': 22*******40' ': 23.10.1975 - Kadın / 48 Yıl'
 ': P2009387926 / Dosya / 22189625 Kurum:' ': 388466.1100.13303335.2023'
 'İstem Trh: 25.10.2023 15:53:00 Num. Alma :'
 'Barkod Trh : 25.10.2023 15:55:58 Num. Kabul :'
 ': P2009387926 / Dosya / 22189625' 'İstem Trh: 25.10.2023 15:53:00'
 'Barkod Trh : 25.10.2023 15:55:58' 'İstem Trh: 25.10.2023 15:54:00'
 ': AHMET ORS' ': 13*******42' ': 7.12.1953 - Erkek / 69 Yıl'
 ': P2006630512 / Dosya / 22144358 Kurum:' ': 388466.1100.13303277.2023'
 'İstem Trh: 20.10.2023 13:20:00 Num. Alma :'
 'Barkod Trh : 20.10.2023 13:22:47 Num. Kabul :' '17 mg/dl' '31,7 mg/dl'
 '78,1 mg/dL' '11,2 mg/dl' '53 U/L' '72,26 ml/dk' '9,8 mg/dl'
 ': P2006630512 / Dosya / 22144358' 'İstem Trh: 20.10.2023 13:21:00'
 'Barkod Trh : 20.10.2023 13:22:47' ': SELAMI KOSUCU' ': 24*******66'
 ': 3.08.1975 - Erkek / 48 Yıl' ': P2013025887 / Dosya / 22124421 Kurum:'
 ': 388466.1100.13303202.2023'
 'İstem Trh: 18.10.2023 15:03:00 Num. Alma :'
 'Barkod Trh : 18.10.2023 15:04:25 Num. Kabul :'
 ': P2013025887 / Dosya / 22124421' 'İstem Trh: 18.10.2023 15:03:00'
 'Barkod Trh : 18.10.2023 15:04:25' '7,79' '5,14' '15,3' '45,8' '89'
 '29,8' '33,5' '12,5' '54,5' '[Y] 8,2' '2,54' '0,32' '3,06' '0,96' '3,3'
 '380' ': HANIM YILMAZ' ': 49*******56' ': 1.09.1958 - Kadın / 65 Yıl'
 ': P2011191666 / Dosya / 22134103 Kurum:' ': 388466.1100.13303212.2023'
 'İstem Trh: 19.10.2023 13:46:00 Num. Alma :'
 'Barkod Trh : 19.10.2023 13:47:08 Num. Kabul :' '14 mg/dl' '49,4 mg/dl'
 '86,4 mg/dL' '27,2 mg/dl' '43 U/L' '93,47 ml/dk' '0,6 mg/dL' '0,15 mg/dl'
 '0,45 mg/dl' '100 mg/dL' '0,65 mg/dl' '136 mg/dl' '163 mg/dL' '11 U/L'
 '13 U/L' '141 mmol/L' '4,4 mmol/L' '102 mmol/L' '7 mg/dL' '1,3 mg/dL'
 ': P2011191666 / Dosya / 22134103' 'İstem Trh: 19.10.2023 13:46:00'
 'Barkod Trh : 19.10.2023 13:47:08' ': NERIMAN GÜLER' ': 11*******78'
 ': 1.07.1952 - Kadın / 71 Yıl' ': P2009093536 / Dosya / 22141123 Kurum:'
 ': 388466.1100.13303243.2023'
 'İstem Trh: 20.10.2023 09:46:00 Num. Alma :'
 'Barkod Trh : 20.10.2023 09:48:09 Num. Kabul :'
 ': P2009093536 / Dosya / 22141123' 'İstem Trh: 20.10.2023 09:47:00'
 'Barkod Trh : 20.10.2023 09:48:09' '3,64' '4,43' '38,4' '156' '86,7'
 '32,7' '14,4' '46,3' '16,7' '[D] 48' '42,4' '9,2' '[D] 1,75' '1,54'
 '[Y] 6,34' '2,34' '3,1' '[Y] 943' 'Kurum:'
 '25.10.2023 16:09:00 Num. Alma :' '25.10.2023 16:13:48 Num. Kabul :'
 'Sonuç Birim' '25.10.2023 16:09:00' '25.10.2023 16:13:48' 'Sonuç' '7,83'
 '4,33' '37,9' '310' '10,9' '58,2' '32,8' '6,4' '2,1' '2,57' '0,16'
 ': 388466.1100.13303343.2023' '0,87' '1,34' '399' ': MENSURE CINICI'
 ': 25*******18' ': 9.11.1964 - Kadın / 58 Yıl'
 ': P2017221642 / Dosya / 22123641 Kurum:' ': 388466.1100.13303187.2023'
 'İstem Trh: 18.10.2023 14:12:00 Num. Alma :'
 'Barkod Trh : 18.10.2023 14:16:03 Num. Kabul :' 'ADI' '2,71' '2,25'
 ': YUSUF SACLI' ': 27*******98' ': 25.09.1964 - Erkek / 59 Yıl'
 ': P2009587082 / Dosya / 22189844 Kurum:' ': 388466.1100.13303348.2023'
 'İstem Trh: 25.10.2023 16:22:00 Num. Alma :'
 'Barkod Trh : 25.10.2023 16:24:24 Num. Kabul :' '99' '20' '124,1 mg/dL'
 '33,4 mg/dl' '96,02 ml/dk' ': P2009587082 / Dosya / 22189844'
 'İstem Trh: 25.10.2023 16:22:00' 'Barkod Trh : 25.10.2023 16:24:24'
 'İstem Trh: 25.10.2023 16:23:00' ': SENFINAZ ARAS' ': 17*******92'
 ': 18.08.1955 - Kadın / 68 Yıl' ': P2010216741 / Dosya / 22123715 Kurum:'
 ': 388466.1100.13303191.2023'
 'İstem Trh: 18.10.2023 14:17:00 Num. Alma :'
 'Barkod Trh : 18.10.2023 14:19:37 Num. Kabul :' '88,2 mg/dL' '36,2 mg/dl'
 '80,86 ml/dk' '9,3 mg/dl' '0,37 mg/dl' ': P2010216741 / Dosya / 22123715'
 'İstem Trh: 18.10.2023 14:19:00' 'Barkod Trh : 18.10.2023 14:19:37'
 ': FERİDE GÖZALAN' ': 17*******16' ': 1.02.1966 - Kadın / 57 Yıl'
 ': P2012181508 / Dosya / 22166383 Kurum:' ': 388466.1100.13303324.2023'
 'İstem Trh: 23.10.2023 14:48:00 Num. Alma :'

In [7]:
filter_conditions = (
    (df[0] == 'TC Kimlik') | 
    (df[0] == 'Hasta Adı, Soyadı') |
    (df[0] == 'Rapor Numarası') |
    (df[0] == 'KVC LAB Laboratuvarı') |
    (df[0] == 'Tetkiki İsteyen:') |
    (df[0] == 'İhtisas Kardiyoloji-Uz.Dr.FATİH') |
    (df[0] == 'Ünite: Biyokimya') |
    (df[0] == 'Doğum Tarihi, Cinsiyeti') |
    (df[0] == 'KÖKSAL POL. (KVC Binası)') |
    (df[0] == 'TETKİK ADI') |
    (df[0] == 'Ünite: Hematoloji') |
    (df[0] == 'Hasta Adı, Soyadı : NURAY KABA') |
    (df[0] == 'TC Kimlik : 32*******18') |
    (df[0] == 'Doğum Tarihi, Cinsiyeti : 4.06.1982 - Kadın / 41 Yıl') |
    (df[0] == 'Protokol / Dosya / İşlem No: : P2013167794 / Dosya / 22189782') |
    (df[0] == 'Rapor Numarası : 388466.1100.13303343.2023') |
    (df[0] == 'TIBBİ LABORATUVAR TETKİK SONUÇ RAPORU(123)') |
    (df[0] == 'KARDİYOLOJİ Uzm. Dr. MAHMUT') |
    (df[0] == 'KAPSIZ POL. (KVC Binası) İstem Trh:') |
    (df[0] == 'Ünite: Biyokimya Barkod Trh :') |
    (df[0] == 'TETKİK ADI Durum') |
    (df[0] == 'Ünite: Hematoloji Barkod Trh :') |
    (df[0] == 'TETKİK') |
    (df[0] == 'Ünite: Hormon') |
    (df[0] == 'ANA BİNA LAB Laboratuvarı') |
    (df[0] == 'Protokol / Dosya / İşlem No:')
)  


filtered_df = df[filter_conditions]
filtered_df

,patient,0,1,2,3,4,5,6,7,8,9,10
0,3,"Hasta Adı, Soyadı",: VEZIR YASAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,TC Kimlik,: 31*******92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,"Doğum Tarihi, Cinsiyeti",: 15.05.1963 - Erkek / 60 Yıl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Protokol / Dosya / İşlem No:,: P2022238881 / Dosya / 22119247 Kurum:,NaN,SGK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,Rapor Numarası,: 388466.1100.13303183.2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3785,30,Tetkiki İsteyen:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3786,30,İhtisas Kardiyoloji-Uz.Dr.FATİH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3787,30,KÖKSAL POL. (KVC Binası),İstem Trh: 23.10.2023 14:49:00,NaN,Num. Alma : 23.10.2023 14:53:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3789,30,Ünite: Hormon,Barkod Trh : 23.10.2023 14:49:34,NaN,Num. Kabul : 23.10.2023 15:39:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3791,30,TETKİK ADI,Durum Sonuç,NaN,Birim,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
filtered_df.isna().sum()

patient       0
0             0
1           399
2          1135
3          1050
4          1293
5          1305
6          1305
7          1305
8          1305
9          1305
10         1305
dtype: int64

In [9]:
df = df[~filter_conditions]

In [10]:
df

,patient,0,1,2,3,4,5,6,7,8,9,10
5,3,NaN,Lab.Ruhsat No:431/1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3,NaN,TIBBİ LABORATUVAR TETKİK SONUÇ RAPORU(123),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3,NaN,NaN,NaN,NaN,NaN,Onay Tar : 18.10.2023 12:14:44,NaN,NaN,NaN,NaN,NaN
13,3,NaN,Referans,Aralığı,NaN,/,ESKİ SONUÇLAR,NaN,NaN,NaN,NaN,NaN
15,3,NaN,Karar,Sınırı,NaN,NaN,1.Sonuç - 2.Sonuç,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3777,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(04.08.2023)
3778,30,BASO#,NaN,NaN,NaN,"0,05",10^3/mL,"0,0 - 0,3",NaN,NaN,"0,04 (04.09.2023)","0,03"
3788,30,NaN,NaN,NaN,NaN,NaN,Onay Tar : 24.10.2023 08:29:13,NaN,NaN,NaN,NaN,NaN
3790,30,NaN,NaN,NaN,Referans Aralığı,/,ESKİ SONUÇLAR,NaN,NaN,NaN,NaN,NaN
3792,30,NaN,NaN,NaN,Karar Sınırı,NaN,1.Sonuç - 2.Sonuç,NaN,NaN,NaN,NaN,NaN

In [11]:
df[0].unique()

array([nan, 'LDL K', 'VLDL K', 'AMİLAZ', 'GFR (MDRD)', 'KALSİYUM (Ca)',
       'BİLİRÜBİN-TOTAL', 'BİLİRÜBİN-DİREKT', 'BİLİRÜBİN-İNDİREKT',
       'AKŞ GLUKOZ', 'KREATİNİN (CREA)', 'TRİGLİSERİD', 'T.KOLESTEROL',
       'SGPT (ALT)', 'SGOT(AST)', 'SODYUM', 'POTASYUM (K)', 'KLOR (Cl)',
       'Serum İndeksi (Hemoliz)', 'WBC', 'RBC', 'HGB', 'HCT', 'PLT',
       'MCV', 'MCH', 'MCHC', 'RDW-CV', 'RDW-SD', 'MPV', 'PCT', 'PDW',
       'NE%', 'LYM%', 'MONO%', 'EOS%', 'BASO%', 'Free T3', 'Free T4',
       'TSH', 'FOLAT', 'ViİTAMİN B12', 'SODYUM (Na)',
       'Serum İndeksi (İkter)', 'NEU#', 'LYM#', 'MONO#', 'EOS#', 'BASO#',
       'KALSİYUM', 'LDL-K (KİT)', 'Ünite: HbA1C', 'HDL-K',
       'Serum İndeksi (Lipemi)', 'BUN', 'VLDL', 'ÜRİK ASİT', 'KREATİNİN',
       'POTASYUM'], dtype=object)

In [12]:
allowed_values = [
    'ÜRİK ASİT',
    'LDL K',
    'LDL-K (KİT)',
    'VLDL K',
    'VLDL',
    'GFR (MDRD)',
    'BİLİRÜBİN-İNDİREKT',
    'AKŞ GLUKOZ',
    'BUN',
    'KREATİNİN (CREA)',
    'KREATİNİN',
    'TRİGLİSERİD',
    'T.KOLESTEROL',
    'HDL-K',
    'SGPT (ALT)',
    'SGOT(AST)',
    'AMİLAZ',
    'BİLİRÜBİN-TOTAL',
    'BİLİRÜBİN-DİREKT',
    'KALSİYUM (Ca)',
    'KALSİYUM',
    'SODYUM (Na)',
    'SODYUM',
    'POTASYUM (K)',
    'POTASYUM',
    'KLOR (Cl)',
    'Serum İndeksi (Hemoliz)',
    'Serum İndeksi (İkter)',
    'Serum İndeksi (Lipemi)',
    'WBC',
    'RBC',
    'HGB',
    'HCT',
    'PLT',
    'MCV',
    'MCH',
    'MCHC',
    'RDW-CV',
    'RDW-SD',
    'MPV',
    'PCT',
    'PDW',
    'NE%',
    'LYM%',
    'MONO%',
    'EOS%',
    'BASO%',
    'NEU#',
    'LYM#',
    'MONO#',
    'EOS#',
    'BASO#',
    'Free T3',
    'Free T4',
    'TSH',
    'FOLAT',
    'ViİTAMİN B12'
]

filtered_df = df[df[0].isin(allowed_values)]

print(filtered_df)

      patient              0    1    2      3      4           5           6  \
16          3          LDL K  NaN  [Y]  132,5  mg/dL     0 - 130         NaN
17          3         VLDL K  NaN  NaN   27,8  mg/dl      0 - 50         NaN
18          3         AMİLAZ  NaN  NaN     38    U/L    28 - 100         NaN
19          3     GFR (MDRD)  NaN  NaN   90,8  ml/dk    70 - 180         NaN
20          3  KALSİYUM (Ca)  NaN  NaN    8,9  mg/dl  8,4 - 10,2         NaN
...       ...            ...  ...  ...    ...    ...         ...         ...
3770       30           NEU#  NaN  NaN    NaN   3,51     10^3/mL     1,9 - 8
3772       30           LYM#  NaN  NaN    NaN   2,28     10^3/mL   0,9 - 2,9
3774       30          MONO#  NaN  NaN    NaN   0,73     10^3/mL  0,3 - 0,90
3776       30           EOS#  NaN  NaN    NaN   0,18     10^3/mL   0,0 - 0,5
3778       30          BASO#  NaN  NaN    NaN   0,05     10^3/mL   0,0 - 0,3

        7    8                  9    10
16    NaN  NaN                NaN   NaN
17    NaN  NaN                NaN   NaN
18    NaN  NaN                NaN   NaN
19    NaN  NaN                NaN   NaN
20    NaN  NaN                NaN   NaN
...   ...  ...                ...   ...
3770  NaN  NaN  4,76 (04.09.2023)  7,45
3772  NaN  NaN  2,19 (04.09.2023)  1,89
3774  NaN  NaN  0,82 (04.09.2023)  1,07
3776  NaN  NaN  0,06 (04.09.2023)  0,07
3778  NaN  NaN  0,04 (04.09.2023)  0,03

[1468 rows x 12 columns]

In [13]:
filtered_df

,patient,0,1,2,3,4,5,6,7,8,9,10
16,3,LDL K,NaN,[Y],"132,5",mg/dL,0 - 130,NaN,NaN,NaN,NaN,NaN
17,3,VLDL K,NaN,NaN,"27,8",mg/dl,0 - 50,NaN,NaN,NaN,NaN,NaN
18,3,AMİLAZ,NaN,NaN,38,U/L,28 - 100,NaN,NaN,NaN,NaN,NaN
19,3,GFR (MDRD),NaN,NaN,"90,8",ml/dk,70 - 180,NaN,NaN,NaN,NaN,NaN
20,3,KALSİYUM (Ca),NaN,NaN,"8,9",mg/dl,"8,4 - 10,2",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3770,30,NEU#,NaN,NaN,NaN,"3,51",10^3/mL,"1,9 - 8",NaN,NaN,"4,76 (04.09.2023)","7,45"
3772,30,LYM#,NaN,NaN,NaN,"2,28",10^3/mL,"0,9 - 2,9",NaN,NaN,"2,19 (04.09.2023)","1,89"
3774,30,MONO#,NaN,NaN,NaN,"0,73",10^3/mL,"0,3 - 0,90",NaN,NaN,"0,82 (04.09.2023)","1,07"
3776,30,EOS#,NaN,NaN,NaN,"0,18",10^3/mL,"0,0 - 0,5",NaN,NaN,"0,06 (04.09.2023)","0,07"
3778,30,BASO#,NaN,NaN,NaN,"0,05",10^3/mL,"0,0 - 0,3",NaN,NaN,"0,04 (04.09.2023)","0,03"

In [14]:
filtered_df.isna().sum()

patient       0
0             0
1           710
2           545
3           901
4           302
5           816
6           996
7          1408
8          1422
9          1058
10         1073
dtype: int64

In [15]:
filtered_df

,patient,0,1,2,3,4,5,6,7,8,9,10
16,3,LDL K,NaN,[Y],"132,5",mg/dL,0 - 130,NaN,NaN,NaN,NaN,NaN
17,3,VLDL K,NaN,NaN,"27,8",mg/dl,0 - 50,NaN,NaN,NaN,NaN,NaN
18,3,AMİLAZ,NaN,NaN,38,U/L,28 - 100,NaN,NaN,NaN,NaN,NaN
19,3,GFR (MDRD),NaN,NaN,"90,8",ml/dk,70 - 180,NaN,NaN,NaN,NaN,NaN
20,3,KALSİYUM (Ca),NaN,NaN,"8,9",mg/dl,"8,4 - 10,2",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3770,30,NEU#,NaN,NaN,NaN,"3,51",10^3/mL,"1,9 - 8",NaN,NaN,"4,76 (04.09.2023)","7,45"
3772,30,LYM#,NaN,NaN,NaN,"2,28",10^3/mL,"0,9 - 2,9",NaN,NaN,"2,19 (04.09.2023)","1,89"
3774,30,MONO#,NaN,NaN,NaN,"0,73",10^3/mL,"0,3 - 0,90",NaN,NaN,"0,82 (04.09.2023)","1,07"
3776,30,EOS#,NaN,NaN,NaN,"0,18",10^3/mL,"0,0 - 0,5",NaN,NaN,"0,06 (04.09.2023)","0,07"
3778,30,BASO#,NaN,NaN,NaN,"0,05",10^3/mL,"0,0 - 0,3",NaN,NaN,"0,04 (04.09.2023)","0,03"

In [16]:
filtered_df[filtered_df[0]=='LDL K']

,patient,0,1,2,3,4,5,6,7,8,9,10
16,3,LDL K,NaN,[Y],"132,5",mg/dL,0 - 130,NaN,NaN,NaN,NaN,NaN
371,22,LDL K,NaN,"71,9",mg/dL,0 - 130,"130,4 (16.12.2022) 138,9",NaN,NaN,NaN,NaN,NaN
710,41,LDL K,"[Y] 202,1 mg/dL","0 - 130 174,7 (03.01.2023)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
815,31,LDL K,NaN,"91,3",mg/dL,0 - 130,NaN,NaN,NaN,NaN,NaN,NaN
914,29,LDL K,119 mg/dL,"0 - 130 123,1 (26.01.2023)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1319,17,LDL K,"[Y] 188,5 mg/dL","0 - 130 169,3 (12.10.2023)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1600,34,LDL K,NaN,[Y],"138,8",mg/dL,0 - 130,NaN,NaN,NaN,NaN,NaN
1691,21,LDL K,NaN,NaN,NaN,75,mg/dL,0 - 130,NaN,"64,7 (21.09.2023)","77,9",NaN
1898,38,LDL K,"79,8 mg/dL","0 - 130 145,9 (17.02.2023)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2028,37,LDL K,"116,1 mg/dL","0 - 130 109,5 (13.10.2023)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2392,32,LDL K,NaN,[Y],"149,8",mg/dL,0 - 130,NaN,NaN,NaN,NaN,NaN
2643,16,LDL K,NaN,NaN,"106,4",mg/dL,0 - 130,NaN,NaN,NaN,NaN,NaN
2726,24,LDL K,113 mg/dL,"0 - 130 100,4 (10.04.2023)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2932,20,LDL K,"78,1 mg/dL",0 - 130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3121,11,LDL K,"86,4 mg/dL","0 - 130 90,2 (16.11.2022) 82,4",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3481,36,LDL K,"124,1 mg/dL",0 - 130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3604,6,LDL K,"88,2 mg/dL",0 - 130,"96,6 (22.09.2022) 90 (01.03.2022)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3718,30,LDL K,NaN,NaN,NaN,"79,6",mg/dL,0 - 130,NaN,"97,5 (26.02.2023)","83,4",NaN

In [17]:
filtered_df[filtered_df[0]=='LDL-K (KİT)']

,patient,0,1,2,3,4,5,6,7,8,9,10
280,27,LDL-K (KİT),NaN,[D],"122,4",mg/dL,<130 *[25],NaN,NaN,NaN,NaN,NaN
1128,39,LDL-K (KİT),NaN,[D],121,mg/dL,<130 *[25],NaN,NaN,NaN,NaN,NaN

In [20]:
'LDL-K (KİT)',
'VLDL',
'GFR (MDRD)',
'BİLİRÜBİN-İNDİREKT',
'AKŞ GLUKOZ',
'BUN',
'KREATİNİN (CREA)',
'KREATİNİN',
'TRİGLİSERİD',
'T.KOLESTEROL'

'T.KOLESTEROL'

In [19]:
filtered_df[filtered_df[0]=='VLDL K']

,patient,0,1,2,3,4,5,6,7,8,9,10
17,3,VLDL K,NaN,NaN,"27,8",mg/dl,0 - 50,NaN,NaN,NaN,NaN,NaN
180,25,VLDL K,NaN,[Y],"62,6",mg/dl,"0 - 50 36,2 (18.05.2023)",NaN,NaN,NaN,NaN,NaN
262,27,VLDL K,NaN,[Y],"106,8",mg/dl,0 - 50,NaN,NaN,NaN,NaN,NaN
373,22,VLDL K,NaN,"19,2",mg/dl,0 - 50,46 (16.12.2022) 47 (15.08.2022),NaN,NaN,NaN,NaN,NaN
711,41,VLDL K,"41,8 mg/dl","0 - 50 63,8 (03.01.2023)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
915,29,VLDL K,"42,6 mg/dl","0 - 50 25,8 (26.01.2023)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1112,39,VLDL K,NaN,[Y],"137,4",mg/dl,"0 - 50 63,4 (21.02.2023)",NaN,NaN,NaN,NaN,NaN
1320,17,VLDL K,"38,2 mg/dl","0 - 50 49,8 (12.10.2023)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1601,34,VLDL K,NaN,NaN,33,mg/dl,0 - 50,NaN,NaN,NaN,NaN,NaN
1693,21,VLDL K,NaN,NaN,NaN,"30,8",mg/dl,0 - 50,NaN,"25,8 (21.09.2023)",34 (14.08.2023),NaN
1899,38,VLDL K,"[Y] 69,8 mg/dl",0 - 50 36 (17.02.2023),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2029,37,VLDL K,16 mg/dl,"0 - 50 42,8 (13.10.2023)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2393,32,VLDL K,NaN,[Y],"52,2",mg/dl,0 - 50,NaN,NaN,NaN,NaN,NaN
2644,16,VLDL K,NaN,[Y],"53,6",mg/dl,0 - 50,NaN,NaN,NaN,NaN,NaN
2691,24,VLDL K,NaN,[Y],"51,2",mg/dl,"0 - 50 32,2 (10.04.2023)",NaN,NaN,NaN,NaN,NaN
2933,20,VLDL K,"11,2 mg/dl",0 - 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3123,11,VLDL K,"27,2 mg/dl","0 - 50 20,8 (16.11.2022) 31,2",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3482,36,VLDL K,"33,4 mg/dl",0 - 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3605,6,VLDL K,"36,2 mg/dl",0 - 50,"42,4 (22.09.2022) 23 (01.03.2022)",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3720,30,VLDL K,NaN,NaN,NaN,"24,6",mg/dl,0 - 50,NaN,19 (26.02.2023),"22,6",NaN