In [25]:
import pandas as pd
import os

In [26]:
cwd = os.getcwd()
directory = cwd + "/datasets/old_data/patient_info.xlsx"
directory

'/home/honorsea/Desktop/sentora/heart_diseases/datasets/old_data/patient_info.xlsx'

In [27]:
df = pd.read_excel(directory)
df.head()

,id,name_surname,identification_number,date,sex,w/h,pressure,HT,DM,HL,KAH,KOAH,KBY,KC HST,NOT,complaint
0,1,NURCAN TANTÜR,63115237952,2023-10-18,K,158/95,141/77,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,2,MÜNÜR ÇAPKINLAR,34333168786,2023-10-18,E,170/83,132/80,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,3,VEZİR YAŞAR,31936213592,2023-10-18,E,165/73,39/77,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,4,MENŞURE ÇİNİCİ,25627707118,2023-10-18,K,/78,146/90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,5,OĞUZHAN GÜLOĞULLARI,20023624076,2023-10-18,E,178/70,32/62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,ATGA

In [28]:
df.dtypes

id                                int64
name_surname                     object
identification_number             int64
date                     datetime64[ns]
sex                              object
w/h                              object
pressure                         object
HT                              float64
DM                              float64
HL                              float64
KAH                             float64
KOAH                            float64
KBY                             float64
KC HST                          float64
NOT                              object
complaint                        object
dtype: object

In [29]:
df.isna().sum()

id                        0
name_surname              0
identification_number     0
date                      0
sex                       0
w/h                       1
pressure                  2
HT                        1
DM                        1
HL                        1
KAH                       1
KOAH                      1
KBY                       1
KC HST                    1
NOT                      32
complaint                20
dtype: int64

In [30]:
df[['height', 'weight']] = df['w/h'].str.split('/', expand=True)
df['height'] = pd.to_numeric(df['height'], errors='coerce')
df['weight'] = pd.to_numeric(df['weight'], errors='coerce')
df = df.drop(columns=['w/h'])

df[['systolic_pressure', 'diastolic_pressure']] = df['pressure'].str.split('/', expand=True)
df['systolic_pressure'] = pd.to_numeric(df['systolic_pressure'], errors='coerce')
df['diastolic_pressure'] = pd.to_numeric(df['diastolic_pressure'], errors='coerce')
df = df.drop(columns=['pressure'])

In [31]:
df.to_csv('datasets/patient_info.csv')